* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}

.input-number {
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.308);
}

.btn {
  outline: 0;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
  cursor: pointer;
  background: red;
  color: white;
  font-weight: bolder;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn-sort {
  background: white;
  color: red;
  width: 80px;
}

.btn-export{
  background: white;
  color: red;
  width: 120px;
}

.svg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: white;
  padding:10px;
  margin:10px;
  background-color: red;
  font-size: 20px;
}
